@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Mulish&family=Sevillana&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Mulish';
}

.login {
  width: 100%;
  height: 100vh;
  background-image: url(img/login-img.png);
  background-size: cover;
  background-position: center;
  filter: blur(5px);
  position: absolute;
}

.wrapper {
  width: 66%;
  height: 78vh;
  top: 14%;
  background-color: white;
  position: relative;
  align-items: center;
}

.title::after {
  content: '';
  position: absolute;
  bottom: -4px;
  left: 28px;
  width: 30%;
  height: 2px;
  background-color: #ffce01;
}

input {
  border: none;
}

input:focus {
  outline: none;
}

.username {
  margin-left: -40px;
  border-bottom: 2px solid #ffce01;
}

.username::-webkit-input-placeholder{
  color: black;
  font-weight: 600;
}

.password {
  margin-left: -40px;
  border-bottom: 2px solid #ffce01;
}

.password::-webkit-input-placeholder{
  color: black;
  font-weight: 600;
}

.input-group-text svg {
  position: relative;
  left: -44px;
}

.forgot {
  margin-left: -42px;
}

.submit-btn {
  width: 180px;
  margin-left: -20px;
  margin-top: 20px;
  border-radius: 40px;
  background-color: #ffce01;
  color: white;
  font-weight: bold;
  border: 1px solid black;
  box-shadow: 4px 2px 2px gray;
}

.submit-btn:hover {
  background-color: #e4b702;
  color: white;
}

.reg {
  margin-top: 12px;
  margin-left: -44px;
}