@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Mulish&family=Sevillana&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");

body {
    font-family: 'Mulish';
    min-height: 2000px;
}

/* Navbar */


.navbar-brand {
    position: relative;
    margin-top: 20px;
    left: 64px;
}



.nav-link {
    font-weight: bold;
    /* text-shadow: 0px 0px 2px #FAF4B7; */
}

.navbarNav ul li {
    position: relative;
    margin-right: 10px;
}

.navbarNav ul li a:hover {
    color: #ffce01;
}

.navbarNav ul li::after {
    content: '';
    position: absolute;
    height: 2px;
    width: 0%;
    background: #ffce01;
    left: 0;
    bottom: 3px;
    transition: .5s;
}

.navbarNav ul li:hover::after {
    width: 95%;
    
}

/* Navbar End */

/* Hero Section */
.hero {
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-image: url(img/kertas.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    color: black;
}

.hero::after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, var(--bs-body-bg) 1%, rgba(255,255,255,0) 30%);
}

.hero .content h1 {
    font-size: 56px;
    color: var(--bs-body-color);
    font-weight: bold;
    margin-left: 80px;
    margin-top: -20px;
    text-shadow: 1px 1px 5px rgba(1, 1, 3, .3);
}

.hero .content h1 span {
    color: #ffce01;
    text-shadow: 1px 1px 5px rgba(1, 1, 3, .4);
}

.hero .content p {
    margin-top: 40px;
    font-size: 19px;
    line-height: 22px;
    margin-left: 80px;
    color: var(--bs-body-color);
}

.hero .content a {
    margin-top: 10px;
    margin-left: 80px;
    position: absolute;
    z-index: 10;
}
/* Hero Section end */


/* Card */

.card-news {
    background-color:  rgba(255,206,1,1);
}

.card {
    margin-top: 140px;
    color: white;
    /* filter: drop-shadow(0 0 3px black); */
    margin-left: 12px;
    /* text-shadow: 0 0 2px black; */
    transition: .4s;
    margin-bottom: 256px;
}

#card1 {
    width: 240px;
    height: 456px;
    background-image: url(img/card1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    font-weight: 600;
    transition: .4s;
}

#card2 {
    width: 240px;
    height: 456px;
    background-image: url(img/card2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    font-weight: 600;
    transition: .4s;
}

#card3 {
    width: 240px;
    height: 456px;
    background-image: url(img/card3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    font-weight: 600;
    transition: .4s;
}

#card4 {
    width: 240px;
    height: 456px;
    background-image: url(img/card4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    font-weight: 600;
    transition: .4s;
}

/* Card end */

/* Berita */
.carousel {
    width:80%;
    height: 90vh;
}

.carousel img {
    width: 60%;
    height: 90vh;
}

.carousel-control-prev {
    position: absolute;
    z-index: 99;
    margin-left: 32%;  
    margin-top: 532px;  
}

.carousel-control-next {
    position: absolute;
    z-index: 99;
    margin-right: 32%;  
    margin-top: 536px;  
}


/* Berita end */